main {
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .output-container {
    position: relative;
}

main .output-container input {
    width: 100%;
    background-color: var(--fore-color);
    padding: 12px 0px;
    border: none;
    border-radius: 6px;
    text-align: center;
}

main .output-container input:focus {
    outline: none;
    background-color: var(--hover-color);
}

main .output-container ng-icon {
    padding: 4px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

main .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

main .input-container label {
    font-weight: 600;
}

main button {
    padding: 12px 0px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    background-color: var(--fore-color);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

main button:hover {
    background-color: var(--hover-color);
}