<main>
  <h1>PASSWORD GENERATOR</h1>

  <div class="output-container">
    <input type="text">
  </div>

  <div class="input-container">
    <ul>
      <li>
        <label>length</label>
        <input type="range">
      </li>
      <li>
        <label>lowerCase</label>
        <input type="checkbox">
      </li>
      <li>
        <label>upperCase</label>
        <input type="checkbox">
      </li>
      <li>
        <label>number</label>
        <input type="checkbox">
      </li>
      <li>
        <label>symbols</label>
        <input type="checkbox">
      </li>
    </ul>
  </div>
  <button>GENERATE</button>
</main>